<footer class="footer sm:footer-horizontal footer-center bg-neutral text-neutral-content p-4">
    <aside>
        <p>Copyright © {{ 'now' | date('Y') }} - All right reserved by Adrian Zech</p>
    </aside>
</footer>