{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="h-full w-full flex flex-col items-center justify-center py-12">
        <!-- stats -->
        <div class="stats shadow">
            <div class="stat place-items-center">
                <div class="stat-title">Subscriptions</div>
                <div class="stat-value text-primary">21</div>
            </div>

            <div class="stat place-items-center">
                <div class="stat-title">Monthly Cost</div>
                <div class="stat-value text-primary">256,33€</div>
            </div>

            <div class="stat place-items-center">
                <div class="stat-title">Yearly Cost</div>
                <div class="stat-value text-primary">1,200€</div>
            </div>
        </div>

        <!-- divider -->
        <div class="divider"></div>

        <div>
            <a class="btn btn-primary" href="{{ path('app_subscription_new') }}">
                New Subscription
            </a>
        </div>


        <!-- table -->
        <div class="overflow-x-auto">
            <table class="table">
                <!-- head -->
                <thead>
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" class="checkbox"/>
                        </label>
                    </th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Cost</th>
                    <th>Billing Cycle</th>
                    <th>Next payment</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- row -->
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" class="checkbox"/>
                        </label>
                    </th>
                    <td>
                        <div class="font-bold">Spotify</div>
                    </td>
                    <td>Monthly</td>
                    <td>10,99€</td>
                    <td>01.04.2025</td>
                    <th>
                        <button class="btn btn-primary btn-xs">Edit</button>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
